<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('static',filename='css/main.min.css') }}" rel="stylesheet" type= "text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}" type= "text/css">


    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signup" href="/signup">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container d-flex rounded justify-content-center align-items-center min-vh-100" style="background-image: url(/static/background.jpg);">
        
         {% block content %} {% endblock %} </div>

    
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}">

        </script>
        

    {% block javascript %}
        <script type="text/javascript">
          const tooltips = document.querySelectorAll('.tt')
              tooltips.forEach(t => {
                new bootsrap.Tooltip(t)
          });

        </script>
        <script type="text/javascript">
          function deleteRecipe(recipeId) {
      fetch("/delete-recipe", {
        method: "POST",
        body: JSON.stringify({ recipeId: recipeId }),
      }).then((_res) => {
        window.location.href = "/";
      });
      }
    </script>
    {% endblock %}

  </body>
</html>

